
* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: #333;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.containerOrder {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

}

.Orders {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: 	#585858;

}
.containerOrder h2 {
    padding-top: 1px;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.container label {
    text-align: left;
    display: block;
}
.container h2 {
    padding-top: 50px;
    font-size: 20px;
    color: 	#585858;
    margin-bottom: 30px;
}
.container input, .container textarea, .container select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.container button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.Card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px black;
    padding-top: 10px;
}

span {
    color: red
}